<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>When you make an important decision you generally. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>stick to the facts</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>consider the effect on people’s feelings</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>Which is more important?</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Justice</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Mercy</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>You would rather be known as. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>a compassionate person</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>a logical person</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>Which is a higher compliment? To be called. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Passionate</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Objective</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Relationships</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Logic</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Thoughts</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Emotions</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Kind</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Consistent</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>After a day of socializing, you find yourself. . .   </string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Energized</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Drained</string>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>When talking to others, you find. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>it comes easily in most situations</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>it only comes easily in select situations</string>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>In order to regain energy, you would. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>spend time alone</string>
				<key>type</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>spend time with others</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>Most people would describe you as. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>a reserved person</string>
				<key>type</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>an open person</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Few friends</string>
				<key>type</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Lots of friends</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Private</string>
				<key>type</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Social</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Quiet</string>
				<key>type</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Talkative</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>What quality do you prefer in a friend?</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Creativity</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Realism</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>Who would you find more attractive? Someone who. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>loves to try new things and see new places</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>has strong values and traditions</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>People in society should. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>follow the accepted rules</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>make news rules as necessary</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>Which do you prefer?</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Fiction</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Non-fiction</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>Which class would you enjoy more?</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>fact-based course</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>course based on new concepts</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Practical</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Dynamic</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Produce</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Create</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Build</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Invent</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Fact</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Idea</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>On a typical day, you would rather. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>have a planned schedule</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>remain flexible</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>Do you like following a schedule?</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Yes</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>No</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>Do you often. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>make lists and schedules</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>try to remain open and flexible</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>When you go on vacation. . .
</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>you live in the moment</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>make lists and schedules</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>You prefer to. . .</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>schedule events, dates, etc. well in advance</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>go with the flow and have fun</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Flexible</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Scheduled</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string></string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Spontaneous</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>answer</key>
				<string>Planned</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
